#activity-list{
  background-color: #fff;
  padding: 0 15px;
  .activity-select{
    padding-top: 20px;
    .inquiry{
      margin-left: 60px;
    }
    .reset{
      margin-left: 20px;
    }
  }
  .table{
    margin-top: 30px;
  }
}